@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background) !important;
  background-color: #000000 !important;
  margin: 0;
  padding: 0;
}

/* מבטיח שכל דף ב-Next.js יתפרס על כל הגובה בשחור */
html, body, #__next {
  background-color: #000000 !important;
  min-height: 100vh;
}
